#carousel {
    margin: 2rem;
    border-top: 3px solid black;
    padding-top: 3rem;
    margin-bottom: 5rem;

    .organization {
        .org-image {
            width: 95%;
            height: 50%;
            margin-bottom: 3;
        }
        .org-name {
            text-align: center;
        }
    }
}

:host ::ng-deep {

    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background-color: red;
    }

    .p-carousel .p-carousel-indicators .p-carousel-indicator button {
        background-color: black;
    }
}