<header class="header-footer">
    <img id="logo" src="../../assets/pictures/icons8-motorbike-helmet-100.png"  alt="{{altBrandLogo}}"
        onclick="location.href='/html_wire/css-2.html'" />
    <div id="header-middle-section">
        <nav id="main-nav">
            <a href="/html_wire/formual-1-org.html">F-1</a>
            <a href="/html_wire/formual-1-org.html">F-2</a>
            <a href="/html_wire/formual-1-org.html">F-3</a>
            <a href="/html_wire/formual-1-org.html">F-E</a>
            <a href="/html_wire/formual-1-org.html">Moto GP</a>
        </nav>
        <h1>{{headerTitle}}</h1>
    </div>
    <form id="searchForm">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Search</label>
        </span>
    </form>
</header>