<header class="header-footer">
    <img id="logo" src="../../assets/pictures/icons8-motorbike-helmet-100.png" alt="{{altBrandLogo}}"
        onclick="location.href='/'" />
    <div id="header-middle-section">
        <nav id="main-nav">
            <a *ngFor="let org of currentOrganizations" routerLink="{{ org.OrganizationName | lowercase | removewhitespaces }}"
            routerLinkActive="active"> {{ org.OrganizationName }} </a>
        </nav>
        <h1>{{headerTitle}}</h1>
    </div>
    <form id="searchForm">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Search</label>
        </span>
    </form>
</header>