<header class="header-footer">
    <img id="logo" src="../../assets/pictures/icons8-motorbike-helmet-100.png" alt="{{altBrandLogo}}"
        onclick="location.href='/'" />
    <div id="header-middle-section">
        <nav id="main-nav">
            <a *ngFor="let org of currentOrganizations"
                routerLink="{{ org.OrganizationName | lowercase | removewhitespaces }}"  routerLinkActive="active"> {{
                org.OrganizationName }} </a>
        </nav>
        <h1>{{headerTitle}}</h1>
    </div>

    <span class="p-input-icon-left">
        <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-danger p-button-text p-button-lg"
            (click)="openSearchDialog(true)"></button>
    </span>

</header>

<app-search *ngIf="isSearchEnabled" (controlSearchDialogEmitter)="openSearchDialog($event)"></app-search>