<app-tab-menu (selectedGroup)="onGroupSelect($event)"></app-tab-menu>

<p-table [value]="selectedGroup" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <h5>Team Details</h5>
    <span class="p-input-icon-left">
      <button pButton pRipple (click) = "onTeamDetailsEdit()" label="" icon="pi pi-pencil" class="p-button-warning mr-2"></button>
      <button pButton pRipple (click) = "onTeamDelete()" label="" icon="pi pi-trash" class="p-button-danger mr-2"></button>
    </span>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Team Name</th>
      <th>Cheif Name</th>
      <th>Cheif Phone</th>
      <th>Cheif Email</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-group>
    <tr>
      <td>{{ group.GroupName }}</td>
      <td>{{ group.SponsorName }}</td>
      <td>{{ group.SponsorPhone }}</td>
      <td>{{ group.SponsorEmail }}</td>
    </tr>
  </ng-template>
</p-table>

<p-table [value]="availableMembers" responsiveLayout="scroll">
  <ng-template pTemplate="caption">
    <h5>Team Members {{currentMemberSize}}\{{maxGroupSize}}</h5>
    <span>
      <button *ngIf="currentMemberSize<maxGroupSize" pButton pRipple label="" (click)="onAddNewTeamMember()" icon="pi pi-plus" class="p-button-success m-2"></button>
    </span>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-member>
    <tr>
      <td>{{ member.MemberName }}</td>
      <td>{{ member.MemberEmail }}</td>
      <td>{{ member.MemberPhone }}</td>
      <td> <button pButton pRipple label="" (click)="editTeamMember(member)" icon="pi pi-pencil" class="p-button-warning mr-2"></button> </td>
      <td> <button pButton pRipple label="" (click)="removeTeamMember(member)" icon="pi pi-trash" class="p-button-danger mr-2"></button> </td>
    </tr>
  </ng-template>
</p-table>

<!-- Group Registration -->
<app-registration
*ngIf="displayRegisterGroupForm"
[displayRegisterGroupForm]="displayRegisterGroupForm"
[currentSelectedGroup]="this.selectedGroup[0]"
(reloadMenuComponent)="reloadMenuComponent($event)"
(controlDisplayForm)="controlDisplayGroupForm($event)"
></app-registration>

<!-- Team Registration -->
<app-team-registration
*ngIf="displayTeamRegistrationForm"
[currentSelectedGroup]="this.selectedGroup[0]"
[selectedTeamMember]="selectedTeamMember"
(reloadTeamMembersComponent)="reloadTeamMembersComponent($event)"
(controlDisplayForm)="controlDisplayTeamForm($event)">
</app-team-registration>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
header="Confirmation" icon="pi pi-exclamation-triangle">
</p-confirmDialog>
<p-toast></p-toast>