<!-- 
<div class="card">
  <div class="flex card-container indigo-container">
      <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round">1</div>
      <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round mx-4">2</div>
      <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round">3</div>
  </div>
</div> -->
<!-- <p-menu [model]="items"></p-menu> -->
<!-- <p-breadcrumb [model]="items"></p-breadcrumb> -->

<app-header></app-header>
<app-description></app-description>
<p-tabMenu [model]="items"></p-tabMenu>
<app-content></app-content>
<app-footer></app-footer>