<p-dialog header="Team Registration" [(visible)]="displayRegisterGroupForm" [draggable]="false" [modal]="true"
    (onHide)="this.controlDisplayForm.emit(false)" [focusOnShow]="false" [style]="{width: '32rem', height: 'auto'}">

    <form #reg [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

        <span class="p-float-label  m-5">
            <input pInputText type="text" id="teamName" name="teamName" autocomplete="teamName"
                formControlName="teamName">
            <label for="teamName" class="block labelTop">Team Name</label>
            <small *ngIf="!myForm.controls['teamName'].valid && myForm.controls['teamName'].touched" id="teamName-help"
                class="p-error block">Please enter Team Name.</small>
        </span>

        <span class="p-float-label m-5">
            <input pInputText type="text" id="sponsorName" name="sponsorName" autocomplete="sponsorName"
                formControlName="sponsorName">
            <label for="sponsorName" class="block labelTop">Team Chief</label>
            <small *ngIf="!myForm.controls['sponsorName'].valid && myForm.controls['sponsorName'].touched"
                id="teamName-help" class="p-error block">Please enter chief name.</small>
        </span>

        <span class="p-float-label m-5">
            <input pInputText type="text" id="sponsorEmail" name="sponsorEmail" autocomplete="sponsorEmail"
                formControlName="sponsorEmail" minlength="5">
            <label for="sponsorEmail" class="block labelTop">Chief Email</label>
            <small *ngIf="!myForm.controls['sponsorEmail'].valid && myForm.controls['sponsorEmail'].touched"
                id="teamName-help" class="p-error block">Please enter a valid Email.</small>
        </span>

        <span class="p-float-label m-5">
            <input pInputText type="text" id="phoneNumber" name="phoneNumber" autocomplete="phoneNumber"
                formControlName="phoneNumber" minlength="10" maxlength="10">
            <label for="phoneNumber" class="block labelTop">Phone Number</label>
            <small *ngIf="!myForm.controls['phoneNumber'].valid && myForm.controls['phoneNumber'].touched"
                id="teamName-help" class="p-error block">Please enter a valid phone number.</small>
        </span>

        <span class="m-5" [style]="{display: 'block', position: 'relative'}">
            <label for="firstname" class="block labelTop m-2">Max Team Size {{teamSize}}</label>
            <p-slider formControlName="maxGroupSize" [(ngModel)]="teamSize" [max]="maxTeamSize"></p-slider>
        </span>

        <button pButton pRipple type="button" label="Submit" (click)="onSubmit(myForm.value)"
            class="p-button-success m-1"></button>
        <button pButton pRipple type="submit" label="Cancel" (click)="onCancel()" class="p-button-danger m-1"></button>

    </form>
</p-dialog>
<p-toast></p-toast>