<p-dialog header="Group Search" [(visible)]="displaySearch" [modal]="true" [style]="{width: '90%',height:'90%'}"
    [draggable]="false" [resizable]="false" (onHide)="controlSearchDialog()">
    <p-table #dt2 [value]="groups" dataKey="id" [rows]="20" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
        [globalFilterFields]="['OrganizationName','GroupName','SponsorName','SponsorPhone','SponsorEmail']"
        selectionMode="single" [(selection)]="selectedGroup">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #textInput (input)="dt2.filterGlobal(textInput.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Organization">Organization <p-sortIcon field="Organization"></p-sortIcon>
                </th>
                <th pSortableColumn="GroupName">Team Name <p-sortIcon field="GroupName"></p-sortIcon>
                </th>
                <th pSortableColumn="SponsorName">Cheif Name <p-sortIcon field="SponsorName"></p-sortIcon>
                </th>
                <th pSortableColumn="SponsorPhone">Cheif Phone <p-sortIcon field="SponsorPhone"></p-sortIcon>
                </th>
                <th pSortableColumn="SponsorEmail">Cheif E-mail <p-sortIcon field="SponsorEmail"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group>
            <tr (click)="onSearchSelectionClick(group)">
                <td field="OrganizationName">
                    {{group.OrganizationName}}
                </td>
                <td field="GroupName">
                    {{group.GroupName}}
                </td>
                <td field="SponsorName">
                    {{group.SponsorName}}
                </td>
                <td field="SponsorPhone">
                    {{group.SponsorPhone}}
                </td>
                <td field="SponsorEmail">
                    {{group.SponsorEmail}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No Rows found ! </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>