<section id="section_1">
  <div>
    <h1>Racing is in DNA</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos neque cumque
      porro soluta cum! At, ipsa sequi qui et quo suscipit vel iste debitis
      adipisci, maxime, fugit placeat tenetur? Tenetur! Lorem, ipsum dolor sit
      amet consectetur adipisicing elit. A quo iusto possimus voluptatibus
      molestias. Sequi quam magnam aspernatur! Eligendi omnis dolorem doloremque
      exercitationem tempore ratione itaque, fuga doloribus quae fugit!
    </p>
  </div>
  <img id="main-picture" src="https://via.placeholder.com/500x400" alt="Logo" />
</section>
