<section id="section_1">
  <div>
    <h1>Racing is in DNA</h1>
    <p>
      Four- (or more) wheeled motorsport competition is globally governed by the Fédération Internationale de
      l'Automobile (FIA); and the Fédération Internationale de Motocyclisme (FIM) governs two-wheeled competition.
      Likewise, the Union Internationale Motonautique (UIM) governs powerboat racing while the Fédération Aéronautique
      Internationale (FAI) governs air sports, including aeroplane racing. All vehicles that participate in motorsports
      must adhere to the regulations that are set out by the respective global governing body.
    </p>
  </div>
  <img id="main-picture" src="/assets/pictures/image-13.jpeg" alt="Logo" />
</section>